*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
	/* padding: 3%; */
   	margin: 40px auto;
    width: 330px;
    height: 330px;
    background-color: blueviolet;
    
}
.btn{
    text-align: center;
}
#btnIz{
    margin-right:  20px; ;
}
#btnDe{
    margin-left: 20px; ;
}
#foto{
    width: 95%;
    height: 95%;
	margin: 2.5%;
    
    /* align-items: center;
    display: flex; */
}